/* Guest home layout styles */
.guest-home-layout{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #f5f5f5;
}

.guest-map-area{
  position: absolute;
  inset: 0; 
  width: 100%;
  height: 100%;
  z-index: 1;
}

.guest-map-wrapper{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.guest-map{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}