/* User home layout styles (minimal) */
.user-home-layout{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.user-map-area{
  position: absolute;
  inset: 0; 
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-wrapper{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}