$body-bg-color: #F1F5F9;
$white : #FFFFFF;

// Guest accents
$guest-accent-color: #F97316;
$accent-blue: #1D4ED8;
$guest-button-hoover: #C2410C;
$guest-card-color: #FFFFFF;

/* Tekst - Skala Slate */
$text-body-color: #0B0B0B; 
$text-muted-color: #94A3B8;   


// Typography
$font-family-base: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", system-ui, sans-serif;
$font-size-base: 14px; 
$line-height-base: 1.5;
$font-size-small: $font-size-base * 0.6;